body {
    background-color: #E7EFFD;

    display: flex;
    justify-content: center;
}

.chart-container {
    margin: 0;
    margin-top: 6%;

    width: 50%;
    height: 25%;
}

.back-btn {
    position: absolute;

    background-color: #928DD5;
    padding: 0.4em 0.4em;
    border-radius: 0.4em;
    color: white;
    font-size: 20px;
    border: 3px solid #928DD5;
    font-weight: bold;

    top: 3%;
    left: 3%;

    width: 2.9em;
    height: 1.1em;
}

.dlPDF {
    background-color: #928DD5;
    padding: 0.4em 0.4em;
    border-radius: 0.4em;
    color: white;
    font-size: 15px;
    border: 3px solid #928DD5;
    font-weight: bold;
}

.dlCSV {
    background-color: #928DD5;
    padding: 0.4em 0.4em;
    border-radius: 0.4em;
    color: white;
    font-size: 15px;
    border: 3px solid #928DD5;
    font-weight: bold;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .chart-container {
        margin-top: 40%;

        width: 300px;
        height: 200px;
    }
}

.btns {
    position: absolute;
    bottom: 5%;
    left: 5%;
}