html 
{
    font-size: 156.25%;
    min-height: 100%;
    
}

body
{
    background-color: #E7EFFD;

}

text
{
    font-family: 'Open Sans', sans-serif;
}

.header
{
    width: 25%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    position: absolute;
    top: 1.5vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    visibility: visible;
}

.header__text {
    color: rgb(131, 130, 130);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1vw;
    text-decoration: none;

    margin-left: 2em;
    margin-right: 2em;

    white-space: nowrap;
}

.header__text:hover {
    color: #938ED5;
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 7%;
    top: 3%;
}

#hamburger__icon {
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.nav__list {
    margin-top: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.close__icon {
    display: none;
}

.hamburger:focus {
    outline: none;
}

.header__text
{

    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1vw;
    text-decoration: none;

}

.footer__text {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

    margin-left: 1em;
    margin-right: 1em;
    white-space: nowrap;
    text-decoration: none;

    font-size: 0.7em;

    line-height: 40px;
}

.subtitle
{
    position: relative;
    margin-top: 3vw;
    font-family: 'Open Sans', sans-serif;
    color: #3F3D56;
    font-weight: 600;
    font-size: 3.2vw;
}


@media screen and (max-width: 1000px) {

    .header__text {
        font-size: 50px;
        color: white;
    }

    .header__text:hover {
        color: #4B45B2;
    }

    .nav__list {
        display: none;
        flex-direction: column;
        row-gap: 5em;
        width: 100%;
    }

    .nav__list.show {
        z-index: 95;
        display: flex;
    }

    .nav__container.open__sesame {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: #938ED5;
        margin: 0;
        left: 0;
        z-index: 90;
    }

    .hamburger__icon.swap {
        display: none;
    }

    .close__icon.reveal {
        display: block;
        position: fixed;
        top: 2%;
        right: 6%;
        z-index: 99;
    }

    body.hide {
        overflow: hidden;
    }

    .hamburger {
        display: block;
    }
}

@media screen and (max-width: 1200px) {


    .subtitle
    {
        font-size: 6vw;
        margin-bottom: 10%;
    }

    .header
    {
        visibility: hidden;
    }
}