html 
{
    font-size: 156.25%;
    min-height: 100%;
    
}

body
{
    background-color: #E7EFFD;

}

text
{
    font-family: 'Open Sans', sans-serif;
}

.header
{
    width: 25%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    position: absolute;
    top: 1.5vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    visibility: visible;
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 7%;
    top: 3%;
}

.header__text
{

    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1vw;
    text-decoration: none;

}

.footer__text {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

    margin-left: 1em;
    margin-right: 1em;
    white-space: nowrap;

    font-size: 0.7em;

    line-height: 40px;
}

.subtitle
{
    position: relative;
    margin-top: 3vw;
    font-family: 'Open Sans', sans-serif;
    color: #3F3D56;
    font-weight: 600;
    font-size: 3.2vw;
}


@media screen and (max-width: 1200px) {


    .subtitle
    {
        font-size: 6vw;
        margin-bottom: 10%;
    }

    .header
    {
        visibility: hidden;
    }
}