body
{
font-family: 'Open Sans', sans-serif;
width: 60vw;
margin: auto;
text-align: justify;
color: #6b6e77;
}

h1
{
font-size: 7vh;
text-align: center;
color: black;
}

h2
{
    font-size: 3vh;
    color: black;
    
}

h3
{
    color: #6b6e77;
}

img
{
    width: 40vw;
    height: 40vw;
}

figcaption 
{
    text-align: center;
}

#architecture {
    width: 60vw;
    height: 40vw;
}